@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 225, 225, 225;
  --background-rgb: 32, 33, 36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 225, 225, 225;
    --background-rgb: 32, 33, 36;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  font-size: x-large;
}

.my-masonry-grid {
  display: flex;
  margin-left: -1.3rem;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 1.3rem;
  background-clip: padding-box;
}

.my-masonry-grid_item {
  margin-bottom: 1.3rem;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.my-masonry-grid_item:hover {
  transform: scale(1.05);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}
